/* Global reset to normalize margins, paddings, and box sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set height and width for the body and html to ensure full page layout */
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; /* Base font family */
  background-color: #000; /* Fallback color */
  overflow: hidden; /* prevent body from scrolling */
}

/* Background image to cover the full screen and be responsive */
body {
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover; /* Ensure the background image covers the entire screen */
}

/* Header Styling */
.header-image {
  width: 100%;
  max-width: 1200px; /* Limit the size of the header */
  margin-bottom: 20px;
}

.form-container p,
.form-container h1,
.form-container h3,
.form-container h4 {
  color: #fff;
}

/* Main content container */
.content-container {
  background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent background */
  color: #fff; /* White text for contrast */
  border-radius: 20px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add subtle shadow */
  max-height: 80vh;
  overflow-y: auto; /* Enable vertical scrolling within the container */
}

/* General labels and input fields */
label {
  color: white; /* Set font color to white */
  font-size: 1.1rem;
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* Button styling */
button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
}

button:hover {
  background-color: #218838;
}

/* Heading Styles */
h1,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* Add some spacing between crop entries */
.crop-entry {
  margin-bottom: 20px;
}

/* Utility Classes for Padding and Margins */
.p-20 {
  padding: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}
